// переменные 
//GRID
//точки адаптива
$lg: 1920px;
$md: 1024px;
$sm: 768px;
$xs: 420px;


//Цвета макета
$c-text: #9D8665;
$c-line: #710707;

// Шрифты
$headers-font: 'Forum',
cursive; //для заголовков
$secondary-font: 'Roboto',
sans-serif; //дополнительный